<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>爱读书</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/common/angular.js"></script>
    <script src="~/Scripts/common/main.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="content" data-ng-app="bookApp">
        <div id="main">
            <header>
                <div class="navbar navbar-inverse navbar-fixed-top">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            @Html.ActionLink("爱读书", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("首页", "Index", "Home")</li>
                                @*<li>@Html.ActionLink("个人中心", "About", "Home")</li>
                                <li>@Html.ActionLink("读书", "Contact", "Home")</li>
                                <li>@Html.ActionLink("书评", "Contact", "Home")</li>
                                <li>@Html.ActionLink("浏览发现", "Contact", "Home")</li>*@
                            </ul>
                            <ul class="nav navbar-nav navbar-right">
                                <li>@Html.ActionLink("登录", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                                <li>@Html.ActionLink("注册", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            @RenderBody()
        </div>
        <footer id="footer">
            <hr />
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render(
    "~/bundles/jquery",
    "~/bundles/bootstrap"
    )
    @RenderSection("scripts", required: false)
</body>
</html>
